.content {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 100%;
  margin-left: 5rem;
}

.content__title {
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.content__summary {
  width: 23%;
  font-size: 1.4rem;
  font-weight: 500;
}

.content__contact {
  margin-top: 2rem;
  display: flex;
}

.btn {
  display: flex;
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  &:not(:first-child) {
    margin-left: 2rem;
  }
}

.btn--white {
  color: #252424;
  background-color: #fffefe;

  &:hover {
    background-color: #e9e9e9;
    color: black;
  }
}

.btn--black {
  color: #fff;
  background-color: #222523;

  &:hover {
    background-color: black;
    color: #fff;
  }
}

.play {
  margin-right: 5px;
  height: 2rem;
  width: 2rem;
}

.bookmark {
  fill: #fff;
  margin-right: 2px;
}

.text {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
}
