.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid var(--color-grey-dark-3);
  height: 15%;
  width: 100%;
}

.header__link {
  text-decoration: none;
  color: #969696;
  font-size: 1.6rem;

  &:hover {
    color: #c4c3c4;
  }
}

.active {
  color: #c4c3c4;
}

.logo {
  height: 9rem;
  width: 12rem;
}

.search {
  display: flex;
  flex: 0 0 50%;
  justify-content: center;
  align-items: center;
}

svg {
  height: 2.2rem;
  background-color: transparent;
}

.search__icon {
  background-color: transparent;
  fill: #8a8d8d;
}

.search__button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.search__input {
  font-size: 1.6rem;
  padding: 1.5rem 1.4rem;
  border-radius: 1rem;
  color: #fff;

  background-color: #96969653;
  border: 2px solid #524e4b;
  width: 80%;
  margin-left: -3.5rem;
  padding-left: 4rem;

  &::placeholder {
    color: #8a8d8d;
  }

  &:focus {
    outline: none;
  }
}

.login {
  border: none;
  padding: 1.7rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.4rem;
  color: #fff;
  background-color: #222523;

  &:hover {
    background-color: black;
    color: #fff;
  }
}

.initial {
  font-size: 1.4rem;
  border: none;
  padding: 1.7rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #252424;
  background-color: #fffefe;

  &:hover {
    background-color: #e9e9e9;
    color: black;
  }
}
