.special__section {
  padding: 10rem 5rem 0 5rem;
  position: relative;
  z-index: 2;
  background-color: #0b0a0be9;
}

.first-section {
  background-color: transparent;
}

.special__heading {
  color: #fff;
  margin-top: -7rem;
  font-weight: 700;
  font-size: 2rem;
}

.special__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1.1rem;
  grid-template-rows: auto auto auto auto auto auto auto;
}
