#featured {
  margin-top: 7rem;
  margin-bottom: 15rem;
}

#featured h2 {
  font-size: 2rem;
  margin-left: 5rem;
  color: #fff;
  font-weight: 700;
}

#collections {
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  padding-top: 3rem;
  justify-content: space-between;
}

#collections a {
  text-decoration: none;
}

#item1 {
  height: 29rem;
  width: 45rem;
  background-color: #2f2f2f;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.anime__image1 {
  position: absolute;
  height: 20rem;
  top: 40%;
  left: 15%;
  border-radius: 10px;
  transform: rotateZ(-10deg);
}

.anime__image2 {
  position: absolute;
  top: 45%;
  left: 35%;
  height: 20rem;
  border: 5px solid #2f2f2f;
  border-radius: 10px;
  z-index: 1;
}

.anime__image3 {
  position: absolute;
  top: 55%;
  left: 55%;
  border-radius: 10px;
  z-index: 1;
  height: 20rem;
  border: 5px solid #2f2f2f;
  transform: rotateZ(10deg);
}

#item1 h2 {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  margin-left: 0;
  font-weight: 600;
  color: #fff;
}

#item2 {
  height: 29rem;
  width: 45rem;
  background-color: #2f2f2f;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

#item2 h2 {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-left: 0;
  text-align: center;
  font-weight: 600;

  color: #fff;
}

#item3 {
  height: 29rem;
  width: 45rem;
  background-color: #2f2f2f;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

#item3 h2 {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-left: 0;
  text-align: center;
  font-weight: 600;
  color: #fff;
}
