#footer {
  height: 30%;
  width: 100%;
  /* background-color: #0b0a0be9; */
  padding-top: 5rem;
}

#footer a {
  text-decoration: none;
  color: #252424;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin: 0 5rem 0 5rem;
  display: block;
  padding: 2rem;
}

#footer h4 {
  border-top: 5px solid #252424;
  margin-top: 5rem;
  font-size: 1.5rem;
  padding: 2rem 0 1rem 0;
  text-align: center;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}
