<<<<<<< HEAD
@import "../../css-config/mixins.scss";
.footer {
  width: 100%;
  background: black;
  color: white;
=======
@import "../css-config/mixins.scss";
.footer {
  width: 100%;
  color: white;
  background-color: black;
>>>>>>> 284a36a (param is pushing)
  .footerContent {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    @include md {
      justify-content: space-between;
      padding: 50px 0;
    }
    .col {
      max-width: 300px;
      .title {
        margin-bottom: 20px;
        font-size: 20px;
      }
<<<<<<< HEAD
      .text {
        color: whitesmoke;
      }
=======
>>>>>>> 284a36a (param is pushing)
      .cItem {
        display: flex;
        margin-bottom: 10px;
        svg {
          flex-shrink: 0;
          font-size: 14px;
          margin-right: 10px;
          margin-top: 4px;
<<<<<<< HEAD
          color: whitesmoke;
=======
          color: white;
>>>>>>> 284a36a (param is pushing)
        }
      }
      span {
        &.text {
          display: block;
          margin-bottom: 10px;
          cursor: pointer;
        }
      }
    }
  }
  .bottomBar {
<<<<<<< HEAD
    border-top: 1px solid whitesmoke;
=======
    border-top: 1px solid white;
>>>>>>> 284a36a (param is pushing)
    .bottomBarContent {
      padding: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      .text {
        font-size: 12px;
<<<<<<< HEAD
        color: whitesmoke;
=======
>>>>>>> 284a36a (param is pushing)
      }
    }
  }
}
