:root {
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.back {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
}

#App {
  height: 70%;
  width: 100%;
  margin-bottom: -11rem;
  position: relative;
}
.bg{
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: relative;
  z-index: -9;
}
#App #front-part {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.378);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
